r-base
r-seurat
r-devtools
r-rcurl
r-xml
r-markdown
r-shiny
r-ggvis
r-dplyr
r-ggplot2
r-plyr
r-reshape2

r-rodbc 
r-maps
r-pheatmap
r-readr
r-tidyr
r-rjsonio
r-knitr
r-tidyverse
r-readxl
r-data.table
r-reticulate
r-cowplot
r-rmarkdown
r-httr
r-survival
r-corrplot
r-forecast
r-rsqlite

bioconductor-edger
bioconductor-gviz
bioconductor-rgraphviz
bioconductor-limma
bioconductor-deseq2
bioconductor-cummerbund
bioconductor-affy
bioconductor-rsamtools

## python libraries
bioblend
galaxy-ie-helpers
